.title {
  position: relative;
  margin: auto;
  font-size: 54px;
}

.board {
  height: 300px;
  width: 300px;
  border: #000 3px solid;
  position: fixed;
  padding: 0px;
  margin: auto;
  position:relative;
  top: 50px;

}

.board li {
  display: block;
  border: #000 3px solid;
  background-color: #ccc;
  float: left;
  width: 94px;
  height: 94px;
}

.board li:hover {
  background-color: #6600FF;
  cursor: pointer;
}

.board li.x {
  background-color: #66FF66;
  content: "X";
  text-align: center;
  color: #FF00CC;
  font-size: 64px;
}

.board li.o {
  background-color: #66FF66;
  content: "O";
  text-align: center;
  font-size: 64px;
  color: #FF00CC;
}
